{% import 'components/form/fields_macros.html.twig' as fields %}

{% if not in_itilobject %}
    <div class="hr-text mt-2">
        <i class="fa-2x ti ti-tag"></i>
        <span>{{ __('Tags', 'tag') }}</span>
    </div>
{% endif %}

<div class= {{ in_itilobject ? "row ms-5" : "row" }}>
    <input type="hidden" name='_plugin_tag_tag_process_form', id='_plugin_tag_tag_process_form', value='1' />

    {{ fields.dropdownArrayField(
        '_plugin_tag_tag_values',
        null,
        available_tags,
        __('Tags', 'tag'),
        {
            values: selected_tags,
            id: 'tag_select_',
            class: 'tag_select',
            disabled: readOnly,
            multiple: true,
            field_class: in_itilobject ? 'col-12 col-sm-12' : 'col-5 col-sm-5',
            label_class: in_itilobject ? 'col-2 col-sm-2' : 'col-4 col-sm-4',
            input_class: in_itilobject ? 'col-10 col-sm-10' : 'col-8 col-sm-8',
        }
    ) }}

    <script>
        $(document).ready(function() {
            const tagsColor = {{ tags_color|json_encode|raw }};

            function isDark(hexColor) {
                if (!hexColor) return false;
                hexColor = hexColor.replace('#', '');
                const r = parseInt(hexColor.substr(0,2),16);
                const g = parseInt(hexColor.substr(2,2),16);
                const b = parseInt(hexColor.substr(4,2),16);
                const luminance = (0.299*r + 0.587*g + 0.114*b)/255;
                return luminance < 0.5;
            }

            function applyTagColors($select) {
                const selectedIds = $select.find('option:selected').map(function() {
                    return $(this).val();
                }).get();

                const $container = $select.nextAll('.select2').find('.select2-selection__rendered');
                $container.find('.select2-selection__choice').each(function(index) {
                    const id = selectedIds[index];
                    const color = tagsColor[id];
                    if (color) {
                        $(this).css('background-color', color);
                        $(this).css('color', isDark(color) ? '#eeeeee' : '');
                    }
                });
            }

            const $select = $('select[name="_plugin_tag_tag_values[]"]');

            $select.each(function() {
                applyTagColors($(this));
            });

            $select.on('change select2:select select2:unselect', function() {
                applyTagColors($(this));
            });

            $select.on('select2:open', function() {
                setTimeout(() => {
                    $('.select2-results__option').each(function() {
                        const matches = this.id.match(/result-[^-]+-(\d+)$/);
                        if (matches && matches[1]) {
                            const color = tagsColor[matches[1]];
                            // Cible uniquement le span SANS la classe select2-rendered__match
                            $(this).find('span:not(.select2-rendered__match)').css({
                                'background-color': color ? color : '',
                                'padding': color ? '2px' : '',
                                'color': (color && isDark(color)) ? '#fff' : '',
                                'border-radius': '2px'
                            });
                        }
                    });
                }, 0);
            });
        });
    </script>

    {% if can_create %}
        {# <div class="btn btn-outline-secondary">
            {{ tooltip|raw }}
        </div> #}
    {% endif %}

    {% if show_save_button %}
        <button type="submit" name="save_tag" id="save_tag" class="btn btn-outline-primary">
            <i class="far fa-save"></i>
            {{ __('Save') }}
        </button>
        <script>
            $(function() {
                $('#save_tag').on('click', function (e) {
                    e.preventDefault();
                    $.ajax({
                        url: '{{ url }}',
                        type: 'POST',
                        data: {
                            'itemtype': '{{ itemtype }}',
                            'items_id': {{ items_id }},
                            '_plugin_tag_tag_values': $('#tag_select_{{ rand }}').val(),
                            '_plugin_tag_tag_process_form': 1,
                        }
                    });
                    displayAjaxMessageAfterRedirect();
                    window.glpiUnsavedFormChanges = false;
                });
            });
        </script>
    {% endif %}
</div>

{% if not in_itilobject %}
    <div class="hr-text mt-2">
        <i class="fa-2x {{ icon }}"></i>
        <span>{{ itemtype }}</span>
    </div>
{% endif %}